@model int

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 p-4">
                <div class="card-header bg-success bg-gradient m-lg-0 py-3">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Booking Confirmation</h2>
                    </div>
                </div>
                <div class="card-body border p-4">
                    <p>Your booking has been confirmed! Your booking ID is @Model.</p>
                    <img src="https://tse3.mm.bing.net/th/id/OIP.hVd1Y1eMhGUoPqH-CpzPDgHaGg?w=920&h=808&rs=1&pid=ImgDetMain" style="border-radius:20px; width: 100%;" alt="Vacation Image" />
                </div>
            </div>
        </div>
    </div>
</div>