@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .error-container {
            text-align: center;
        }

            .error-container img {
                max-width: 100%;
                height: auto;
            }

        .error-message {
            font-size: 24px;
            color: #333;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <img src="https://tse4.mm.bing.net/th/id/OIP.rPG0THzkcNnsgxrLwIjZNgHaGW?rs=1&pid=ImgDetMain" alt="Error Image">
        <div class="error-message">Oops! Something went wrong.</div>
    </div>
</body>
</html>